.EditProduct {
    background-color: var(--primary-light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
}

.DivisionContainer {
    border: 1px solid var(--sub-beige);
    padding: 20px;
    gap: 15px;
    min-width: 320px;
    flex: 1;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.DivisionContainer p{
    font-weight: bold;
    color: var(--sub-gray);
}

.ThumbnailContainer {
    display: inline-block;
    position: relative;
}
  
.ThumbnailLabel {
    cursor: pointer;
}

.Thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: contain;
    color: var(--sub-gray);
}

.SmallImage {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
    color: var(--sub-gray);
}

.RemoveDot {
    position: absolute;
    top: -5px; 
    right: -5px; 
    min-width: 20px;
    min-height: 20px;
    background-color: var(--sub-gold);
    color: white;
    font-size: 10px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transform: scale(0.9);
    cursor: pointer;
}

#fileInput {
    display: none;
}

.Thumbnail:hover {
    background-color: #EFE4D6;
}

.SmallImage:hover {
    background-color: #EFE4D6;
}

.RemoveDot:hover {
    background-color: var(--primary-dark);
}

.ValueBox {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}

.ValueTitle {
    font-weight: bold;
}