.ItemContainer {
    position: relative;
    width: 335px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 5px;
    border-radius: 10px;
    background-color: var(--primary-light);
    box-shadow: 0px 4px 10px var(--sub-beige);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.RatingContainer {
    width: fit-content;
    height: fit-content;
    gap: 2px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.LoadContainer {
    width: 100%;
    height: 264px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.ItemImg {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease-in-out;
    display: block;
    position: absolute;
}

.loader {
    border: 16px solid var(--sub-beige);
    border-radius: 50%;
    border-top: 16px solid var(--sub-gold);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
}
  
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ItemName {
    font-family: var(--font-secondary);
    font-size: 20px;
    color: var(--primary-dark);
    margin: 0;
}

.ItemPrice {
    font-family: var(--font-secondary);
    font-weight: bold;
    margin: 0;
}

.ItemRate {
    margin: 0;
}

.ItemTag {
    color: var(--sub-gold);
    margin: 0;
}

.ItemButton {
    height: fit-content;
    width: fit-content;
    border-radius: 4px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    background-color: var(--primary-light);
    cursor: pointer;
}

.ItemButton:hover{
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.CartIcon {
    margin-right: 10px;
}

.DiscountContainer {
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 
    top: -5px;
    left: 5px;
    z-index: 5;
}

.BookmarkIcon {
    font-size: 70px;
    color: var(--sub-gold);
    z-index: 10;
}

.DiscountPercent {
    position: absolute;
    z-index: 20;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.OriginalPrice {
    color: #969595;
    text-decoration: line-through;
}