@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');


:root {
    --primary-light: #FFFFFF;
    --sub-gray: #4A4A4A;
    --primary-dark: #000000;
    --sub-gold: #D4AF37;
    --sub-beige : #E5C7A0;
    --font-primary: "Poppins", sans-serif;
    --font-secondary: "Poltawski Nowy", sans-serif;
}

body{
    margin: 0px;
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 500;
}